<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.surgeryapptest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurgeryAppTest"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.activity.patientActivities.PDFProgressEntryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.researcherActivities.ResearcherMainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.GeneralInfoWebActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activity.ChartingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.streamChat.StreamChatActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.doctorActivities.PatientWoundDetailsActivity"
            android:label="Patient Wound Detail"
            android:screenOrientation="portrait"
            android:theme="@style/DoctorWoundDetailActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.doctorActivities.MainActivityDoctor"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.patientActivities.WoundDetailsActivity"
            android:label="Wound Detail"
            android:screenOrientation="portrait"
            android:theme="@style/WoundDetailActivityStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.patientActivities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginStyle"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.SplashScreenActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.surgeryapptest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>